# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/checkstyle-idea.xml
/deployment.xml
/detekt.xml
/misc.xml
/modules.xml
/sshConfigs.xml
/unraid-novidio-vgpu-driver.iml
/vcs.xml
/webServers.xml
